*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header{
    background-color: gray;
    padding: 1em 0;
}

header h1{
    color: white;
    text-align: center;
}

section, article{
    margin: 1em 0 0 1em;
}

h3{
    margin: 0.5em 0 0.5em 0;
}

section img{
    margin: 0.5em;
}

/*mon parcours*/

ul{
    list-style: none;
}

ul li{
    
    margin-left: 1em;
    margin-bottom: 0.2em;
}

/*Qui suis-je*/
.img_desc{
    display: flex; /*Ce standard permet d'avoir un design adaptatif à l'écran. Les éléments peuvent être réagencés selon la taille de l'écran*/
}

.img_desc img{
    width: 300px;
}

.img_desc p{
    margin-top: 2em;
    padding-left: 2em;
}