*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

header{
    background-color: gray;
    padding: 1em 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

section, article{
    margin: 1em 0 0 1em;
}

h2{
    font-size: 2em;
}

h3{
    margin: 0.5em 0 0.5em 0;
    color: brown;
}

p{
    margin-left: 1em;
}

section img{
    margin: 0.5em;
}

/*mon parcours*/

ul{
    margin-left: 1em;
}

ul li{
    
    margin-left: 2em;
    margin-bottom: 0.2em;
}

/*Qui suis-je*/
.img_desc{
    display: flex; /*Ce standard permet d'avoir un design adaptatif à l'écran. Les éléments peuvent être réagencés selon la taille de l'écran*/
}

.img_desc img{
    width: 300px;
}

.img_desc p{
    margin-top: 2em;
    padding-left: 2em;
}

/*quand la largeur de la page pas en dessous de 750 px le css suivant est pris en compte*/
@media screen and (max-width: 750px)
{
    .img_desc{
        display: block;
        text-align: center;
    }

    img{
        padding-top: 1em;
    }
 
}